<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ForgotPassword</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="icon" href="../public/images/logo.png">
</head>
<body>
  <div class="wrapper">
    <div class="logo">
        <img src="../public/images/logo.png" alt="">
    </div><br>
    <div class="text-center mt-4 name">
        Stay Connected...
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="email" name="email" id="pwd" placeholder="Email">
        </div>
        <div class="form-field d-flex align-items-center">
          <input type="submit" id="forgotPassword" value="Submit">
      </div>
    </form>
    <div class="text-center fs-6">
      <a href="/login" style="color:#A060FF;">Login</a> or <a href="/" style="color:#A060FF;">Sign up</a>
  </div>
  </div>
</body>
</html>