<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="icon" href="../public/images/logo.png">
</head>
<body>
  <div class="wrapper">
    <div class="logo">
        <img src="../public/images/logo.png" alt="">
    </div><br>
    <div class="text-center mt-4 name">
        Stay Connected...
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="email" id="email" placeholder="Email">
            <p id="emailError" style="color: red; font-size: 15px;"></p>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
            <p id="passwordError" style="color: red; font-size: 15px;"></p>
        </div>
        <div class="form-field d-flex align-items-center">
          <input type="submit" id="login" value="Login" onclick="UserLogin(event)">
      </div>
    </form>
    <div class="text-center fs-6">
        <a href="/forgotPassword" style="color:#A060FF;">Forget password?</a> or <a href="/" style="color:#A060FF;">Sign up</a>
    </div>
  </div>
</body>
<script src="../public/js/loginSignup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>
</html>